*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #5f6467;
}
h1, h2, h3, h4, h5, h6 {
  color: #545a5e
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 400;
  margin: 2em 0 1em;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 22px;
  margin: 30px 0 20px;
}
h4 {
  font-size: 18px;
  margin: 30px 0 20px;
}
h5 {
  font-size: 14px;
  margin: 30px 0 20px;
}
a {
  color: #3f86e4;
  text-decoration: none;
  transition: color .2s;
}
a:hover {
  color: #111111;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: #ddd 1px solid;
  margin: 3.2em 0;
  padding: 0;
}
code {
  font-family: Consolas, monospace;
  font-size: 90%;
  overflow: auto;
  background: #f8f8f8;
  padding: 1px 3px;
}
pre {
  margin: 0 0 15px 0;
  font-family: Consolas, monospace;
  font-size: 90%;
  overflow: auto;
  background: #f0f0f0;
  padding: 20px 15px;
}
pre code {
  font-size: inherit;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
}
.container {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
header {
  text-align: center;
  padding: 20px 0 40px;
  background-color: #3f86e4;
  color: #fff;
  font-weight: 300;
}
header .container,
.container.promo {
  max-width: 970px;
}
header .title,
header .subtitle {
  color: #fff;
  font-weight: 300;
}
header .subtitle {
  font-size: 22px;
}
header a {
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px;
  background: rgba(0, 0, 0, 0.05);
  transition: background .2s;
  font-weight: 300;
}
header a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.col {
  float: left;
  width: 50%;
  padding-left: 15px;
  padding-rigth: 15px;
}
.hljs {
  background: #f0f0f0;
}
h2.styled {
  text-align: center;
  background: linear-gradient(#ddd, #ddd);
  background-size: 100% 1px;
  background-repeat: repeat-x;
  background-position: 0 13px;
  font-size: 18px;
}
h2.styled span {
  display: inline-block;
  background: #fff;
  text-transform: uppercase;
  padding: 0 20px;
}